<div class="bengali-font">
  <h1 class="text-5xl">We are Borning!</h1>
  <h1 class="text-5xl font-bold">যেহেতু মানব পরিবারের সকল সদস্যের সমান ও অবিচ্ছেদ্য অধিকারসমূহ</h1>
  <h1 class="text-5xl font-light">যেহেতু মানব পরিবারের সকল সদস্যের সমান ও অবিচ্ছেদ্য অধিকারসমূহ</h1>
  <h1 class="text-5xl font-regular">যেহেতু মানব পরিবারের সকল সদস্যের সমান ও অবিচ্ছেদ্য অধিকারসমূহ</h1>
  <h1 class="text-5xl font-medium">যেহেতু মানব পরিবারের সকল সদস্যের সমান ও অবিচ্ছেদ্য অধিকারসমূহ</h1>
  <ul>
    <li>Himel</li>
    <li>Noman</li>
    <li>Antu</li>
  </ul>
  isProduction: {{ isProduction }}
  <app-google-auth/>
</div>
