<div class="bengali-font bg-stone-50 h-[100dvh] w-[100dvw] select-none">
  @if (!isUserAuthorized()) {
    <router-outlet/>
  } @else {
    <nz-layout>
      <nz-sider class="absolute h-[100dvh] lg:relative z-50 bg-white shadow" nzCollapsible nzBreakpoint="lg"
                [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzWidth]="250" [nzTrigger]="null">
        <div class="w-full h-[200px] flex items-center justify-center border-b shadow-[#e63f66_0px_-25px_36px_-28px_inset]">
          <div class="flex flex-col items-center gap-1">
            <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
            <div class="font-medium">Md Tanbin Hossain Himel</div>
            <div class="font-light text-xs">{{ 'tanbin.himel@gmail.com' }}</div>
          </div>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" class="bg-transparent">
          <li nz-menu-item>
            <span nz-icon nzType="user"></span>
            <span>Profile</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="video-camera"></span>
            <span>Live</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="upload"></span>
            <span>Test</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="user"></span>
            <span>nav 2</span>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <app-header>
             <span
               class="text-3xl cursor-pointer"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               (click)="isCollapsed = !isCollapsed"
             ></span>
        </app-header>
        <div class="h-[calc(100dvh-70px)]">
          <router-outlet/>
        </div>
        <div>
        </div>
      </nz-layout>
    </nz-layout>
  }
</div>
