<!--<iframe (load)="console.log('loading...')"-->
<!--        class="h-full w-full"-->
<!--        src="https://www.youtube.com/embed/_p0lDxPqJiM?si=u_3-FPDKrsvX9P62&amp;start=4&rel=0&enablejsapi=1&origin=http://localhost:4200/"-->
<!--        title="YouTube video player"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--        referrerpolicy="strict-origin-when-cross-origin"-->
<!--        sandbox='allow-scripts allow-same-origin'-->
<!--        allowfullscreen>-->
<!--</iframe>-->


<iframe
  class="h-full w-full"
  src="https://drive.google.com/file/d/12LlmYUbqjYU33AvNNFuO2-AL8eKUJ0VU/preview"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
  sandbox='allow-scripts allow-same-origin'
  allowfullscreen>
</iframe>
