@font-face {
  font-family: 'bengali-font';
  src: url('assets/fonts/noto-serif-bengali.ttf') format('truetype'),
  url('assets/fonts/noto-serif-bengali.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@import "scss/bengali-font";
@import "scss/button-primary-outline";
