@font-face {
  font-family: 'lexend';
  src: url('assets/font/Lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto-sans-bengali';
  src: url('assets/font/NotoSansBengali.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@import "scss/bengali-font";
@import "scss/button-primary-outline";
@import "scss/ant-svg-icon";
@import "scss/scroll-hidden";

@layer base {
  body {
    font-family: lexend, noto-sans-bengali, sans-serif;
  }
}

@layer components {
  .card {
    @apply bg-white p-5 rounded;
  }
}
