<iframe (load)="console.log('loading...')"
        class="h-[200px] md:h-[430px] xl:h-[670px] w-full"
        src="https://www.youtube.com/embed/_p0lDxPqJiM?si=u_3-FPDKrsvX9P62&amp;start=4&rel=0&enablejsapi=1&origin=http://localhost:4200/"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        sandbox='allow-scripts allow-same-origin'
        allowfullscreen>
</iframe>
